@import "tailwindcss";

:root {
  --color-body: #000;
  --background-color: #B1DCED;
  --foreground: #171717;
  --loading-background-color: rgba(255, 255, 255, 0.9);

  --button-background: #1BC5BD;
  --button-primary-color: #1BC5BD;
  --online-color: #358682;
  --shadow-custom-teal: 0px 9px 16px 0px rgba(27, 197, 189, 0.25);
  --shadow-loading-teal: 0 4px 20px rgba(0, 0, 0, 0.1);

  --radio-unchecked-color: #555555;
  --radio-checked-color: #00f69d;
  --font-color-focus: hsla(0, 4%, 76%, 1);

  --sex-card: #EBEDF3;
  --sex-selected-card: #1BC5BD;
  --modal-background-color: rgba(255, 255, 255, 1);

}

html,
body {
  overflow: hidden;
  /* 禁止全局回弹 */
  touch-action: none;
  /* 禁用 iOS 全局触摸滚动 */
}

/* 核心：使用 CSS 变量适配高度，兜底 dvh */
.app-wrapper {
  height: var(--vh, 100dvh);
  width: 100%;
  /* 仅内容容器滚动 */
  overflow: hidden;
  /* iOS 滚动优化 */
  -webkit-overflow-scrolling: touch;
  touch-action: auto;
  /* 恢复内容容器触摸滚动 */
  transform: translateZ(0);
  /* 硬件加速 */
  z-index: inherit;
}

@theme inline {
  --color-background: var(--background-color);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #B1DCED;
    --foreground: #ededed;
  }
}

body {
  background: var(--background-color);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}